# =========================
# Backend (API & Auth)
# =========================
fastapi
uvicorn

pydantic>=2.5
email-validator

sqlalchemy
psycopg

python-jose[cryptography]==3.3.0

passlib==1.7.4
bcrypt==3.2.2

requests


# =========================
# AI / ML Core
# =========================
numpy>=1.25
pandas>=2.0
scipy

# For model caching/serialization (scikit-learn de uses this)
joblib


# =========================
# (OPTIONAL / HEAVY)
# =========================
# TensorFlow (CPU)
tensorflow>=2.12,<3.0
